@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

body,
button,
li {
  font-family: "Sora", sans-serif;
}

.FontFancy {
  font-family: "Rubik Vinyl", "Sora", sans-serif;
}

@layer components {
  .Button {
    @apply py-2 px-5 rounded-md shadow-md text-accent border-2 border-transparent font-semibold;
    @apply hover:brightness-110 hover:shadow-lg;
    @apply focus:outline;
    @apply active:brightness-95 active:shadow-none;
    @apply disabled:cursor-not-allowed disabled:shadow-none disabled:brightness-100 disabled:opacity-80;
    @apply transition;
    @apply whitespace-nowrap;
  }

  .OutlineButton {
    @apply Button border-current;
  }

  .BrandButton {
    @apply OutlineButton bg-accent text-lightPrimary border-accent font-normal;
  }

  .GhostButton {
    @apply Button border-2 border-transparent shadow-none;
    @apply shadow-none;
    @apply transition ease-linear duration-100;
    @apply md:hover:border-darkPrimary;
  }

  .RecommendationQuote {
    @apply relative;
  }
  .RecommendationQuote:before,
  .RecommendationQuote:after {
    @apply block text-5xl md:text-7xl absolute  m-0 p-0 text-white text-opacity-60;
    transform: translateZ(130px);
  }
  .RecommendationQuote:before {
    @apply content-[open-quote] -left-3 top-0;
  }
  .RecommendationQuote:after {
    @apply content-[close-quote] -right-3 bottom-[-0.7em];
  }

  .Preserve3D,
  .Preserve3D * {
    transform-style: preserve-3d;
  }
}

@media print {
  .container {
    padding: 16px !important;
  }

  .FontFancy {
    font-family: "Sora", sans-serif;
  }
}
